{% extends 'base.html' %}


{% block judul %}
    Stand Blog | {{ post.judul }}
{% endblock judul %}
    

{% block content %}

    <h1>{{ post.judul }}</h1>
    <small>Oleh : {{ post.author}}</small><br/>
    <small>Posted on: {{ post.pub_date }}</small> <br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'edit-artikel' post.pk %}">(Edit)</a>
        <a href="{% url 'hapus-artikel' post.pk %}">(Hapus)</a>
        {% endif %}
    {% endif %}
    <hr>
    {{ post.konten|safe }}

    <br><br>
    <a class="btn btn-info" href="{% url 'home' %}">Home</a>
{% endblock content %}