{% extends 'base.html' %}

{% block content %}

    {% if category_posts %}

        <h1>{{cats}}</h1>
            <ul>
                {% for post in category_posts %}
                <li>
                <h3><a href="{% url 'detail-artikel' post.pk %}" id="judul">{{ post.judul }}</a></h3>
                {% if user.is_authenticated %}
                <a href="{% url 'edit-artikel' post.pk %}">(Edit)</a>
                <a href="{% url 'hapus-artikel' post.pk %}">(Hapus)</a>
                {% endif %}
                <br>
                <small>Penulis: {{ post.author }}
                <br>
                Kategori: <a href="{% url 'kategori' post.kategori %}">{{ post.kategori }}</a>
                <br>
                Posted on: {{ post.pub_date }}</small>
                <br>
                {{ post.konten|slice:":250"|safe }}
                <br>
                </li>
                {% endfor %}
            </ul>    

    {% else %}

        <h2>Mohon maaf Kategori tidak tersedia</h2>

    {% endif %}

    <br><br>
    <a class="btn btn-info" href="{% url 'home' %}">Home</a>

{% endblock content %}
	