{% extends 'base.html' %}

{% block judul %}
    Stand Blog | Hapus Artikel
{% endblock judul %}
    
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>Hapus Artikel {{ post.judul}}</h1>
    <br>

    <form method="POST" action="">
        <div class="form-group">
            {% csrf_token %}
            <strong>Apakah anda yakin?</strong> <br> <br>
            <button type="submit" class="btn btn-danger">Hapus Artikel</button>
        </div>
    </form>
    {% else %}
    Anda tidak diperbolehkan mengakses ini...
    {% endif %}
{% else %}

Anda Harus Log In Terlebih dahulu!!!

{% endif %}

    <br><br>
    <a class="btn btn-info" href="{% url 'home' %}">Home</a>
{% endblock content %}