{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="{{author}}">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

		<title>{% block judul %}{{ Post.judul }}{% endblock judul %}</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

	</head>
	<body>
		{% include 'blog/navbar.html' %}

		<div class="container">
			{% block content %}
				<ul>
					
					{% for post in object_list %}
						<li>
						<a href="(% url 'detail-artikel' post.pk %)">{{ post.title }}</a> - {{ post.author }} <br/>
						{{ post.konten }}
						</li>
					{% endfor %}
						

				</ul>
			{% endblock content %}
		</div>

		{% include "blog/footer.html" %}

		<!-- JavaScript -->
		<script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>
		<script src="{% static 'blog/js/bootstrap.js' %}"></script>

	</body>
</html>
