{% extends 'base.html' %}

{% block content %}
	<ul>
		{% for post in object_list %}
			<li>
			<h3><a href="{% url 'detail-artikel' post.pk %}">{{ post.judul }}</a></h3>
			{% if user.is_authenticated %}
			<a href="{% url 'edit-artikel' post.pk %}">(Edit)</a>
			<a href="{% url 'hapus-artikel' post.pk %}">(Hapus)</a>
			{% endif %}
			<br>
			<small>Penulis: {{ post.author }}
			<br>
			Kategori: {{ post.kategori }}
			<br>
			Posted on: {{ post.pub_date }}</small>
			<br>
			{{ post.konten|slice:":250"|safe }}
			</li>
			<br>
		{% endfor %}
	</ul>
{% endblock content %}
	