{% extends 'base.html' %}

{% block content %}
	<ul>
		{% for post in object_list %}
			<li>
			<h3><a href="{% url 'detail-artikel' post.pk %}" id="judul">{{ post.judul }}</a></h3>
			{% if user.is_authenticated %}
				{% if user.id == post.author.id %}
					<a href="{% url 'edit-artikel' post.pk %}">(Edit)</a>
					<a href="{% url 'hapus-artikel' post.pk %}">(Hapus)</a>
				{% endif %}
			{% endif %}
			<small>Penulis: {{ post.author }}
			<br>
			Kategori: <a href="{% url 'kategori' post.kategori|slugify %}">{{ post.kategori }}</a>
			<br>
			Posted on: {{ post.pub_date }}</small>
			<br>
			{{ post.konten|slice:":250"|safe }}... <a href="{% url 'detail-artikel' post.pk %}">baca selengkapnya</a>
			</li>
			<br>
		{% endfor %}
	</ul>

	
{% endblock content %}
	