{% extends 'base.html' %}


{% block judul %}
    Stand Blog | Edit Artikel
{% endblock judul %}
    
{% block content %}

{% if user.is_authenticated %}
    
    {% if user.id == post.author.id %}

        <h1>Edit Artikel Anda</h1>
        <br>

        <form method="POST" action="">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>

    {% else %}

        <h2>You're not allowed here! (And you know it...)</h2>

    {% endif %}
{% endif %}
    <br><br>
    <a class="btn btn-info" href="{% url 'home' %}">Home</a>
{% endblock content %}