{% extends 'base.html' %}

{% block judul %}
    Stand Blog | Login
{% endblock judul %}
    
{% block content %}

	{% if form.errors %}
		<div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
	{% endif %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card shadow-lg">
					<div class="card-header">
						Masuk
					</div>
					<div class="card-body">
						<form method="POST">
					        {% csrf_token %}
					        
					        {{ form.as_p }}
					        <button class="btn btn-primary">Login</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
    
    

    
{% endblock content %}

{% block footer %}
	<div></div>
{% endblock footer %}