<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Stand Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only active">(current)</span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post-artikel' %}" class="nav-link">Buat Posting
            </a>
          </li>
          <li>
            <a href="{% url 'edit-profile' %}" class="nav-link">Edit Profile
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="nav-link">Log Out
            </a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'register' %}" class="nav-link">Daftar
            </a>
          </li>
          
          <li>
            <a href="{% url 'login' %}" class="nav-link">Log In
            </a>
          </li>
          {% endif %}
          
          {% if cat_menu %}      
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kategori
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for item in cat_menu %}
              <a href="{% url 'kategori' item|slugify %}" class="dropdown-item">{{ item }}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li>
            <a href="{% url 'list-kategori' %}" class="nav-link">Kategori
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>